body{
margin:0;
font-family:Arial;
background:#050c1a;
color:white;
}

#map{width:100vw;height:100vh;}

#login{
position:absolute;
z-index:9;
background:#070f2b;
padding:20px;
border-radius:10px;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

input,button{
padding:10px;
margin-top:10px;
width:100%;
}

#hud{
position:absolute;
top:10px;
left:10px;
background:rgba(0,0,0,0.7);
padding:12px;
border-radius:8px;
z-index:2;
display:none;
}
